@import '../../../variables.scss';
h1 {
	color: white;
	font-size: 72px;
	font-weight: 400;
}
h2 {
	font-size: 18px;
	margin-bottom: 0;
}
.error {
	color: #e51f44;
}

@media only screen and (max-width: $xlarge) {
	h1 {
		font-size: 65px;
	}
}
@media only screen and (max-width: $large) {
	h1 {
		font-size: 55px;
	}
}
@media only screen and (max-width: $medium) {
	h1 {
		font-size: 35px;
	}
}
@media only screen and (max-width: $small) {
	h1 {
		font-size: 30px;
	}
}
