// Screen Sizes for Responsive laypout
$small: 400px;
$medium: 650px;
$large: 950px;
$xlarge: 1210px;

// Colors
$colorOne: #1fbba6;

// @import './variables.scss';
// @media only screen and (max-width: $xlarge) {
//
// }
// @media only screen and (max-width: $large) {
//
// }
// @media only screen and (max-width: $medium) {
//
// }
// @media only screen and (max-width: $small) {
//
// }
